@{
    var Lst = ViewBag.productList as IEnumerable<EcommerceSite.Data.Model.Product>;
}
@{
    ViewData["Title"] = "Home Page";
}
<!-- Slide1 -->
<section class="slide1">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url('@Url.Content("~/images/shopping2.jpg")')">

                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Brand New Collections
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                        <!-- Button -->
                        <a href="@Url.Action("List", "Product")" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url('@Url.Content("~/images/shopping1.jpg")');">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Brand New Collections
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                        <!-- Button -->
                        <a href="@Url.Action("List", "Product")" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url('@Url.Content("~/images/shopping3.jpg")');">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Brand New Collections
                    </span>

                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        New arrivals
                    </h2>

                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                        <!-- Button -->
                        <a href="@Url.Action("List", "Product")" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Our New Products
            </h3>
        </div>
        @foreach (var item in Lst)
        {

            <div style="display:inline-block;">
                <div style="display:inline-block;">
                    <div>
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                <img src="@Url.Content(item.Image)" style=" height:300px;width:280px;" ;alt="IMG-PRODUCT">

                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>
                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Product" asp-action="Details" asp-route-productId="@item.ProductId">
                                            View More
                                        </a>
                                        <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Cart" asp-action="AddToShoppingCart" asp-route-productId="@item.ProductId">
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block2-txt p-t-20">
                                <a href="#" class="block2-name dis-block s-text3 p-b-5">
                                    <strong style="font-size:1.9em;color:cadetblue;font-style:italic;">
                                        @item.ProductName
                                    </strong>
                                </a>

                                <span class="">
                                    <strong>@item.Rate.ToString("c")</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
}
        </div>
    </section>
