@model EcommerceSite.Data.Model.Product
<div   style="display:inline-block;">
    <div style="display:inline-block;">
        <!-- Block2 -->
        <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                <img src="@Url.Content(Model.Image)" style=" height:300px;width:280px;" ;alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                    </a>
                    <div class="block2-btn-addcart w-size1 trans-0-4">
                        <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Product" asp-action="Details"  asp-route-productId="@Model.ProductId">
                            View More
                        </a>
                        <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Cart" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            <div class="block2-txt p-t-20">
                <a href="#" class="block2-name dis-block s-text3 p-b-5">
                    <strong style="font-size:1.9em;color:cadetblue;font-style:italic;">
                        @Model.ProductName
                    </strong>
                </a>

                <span class="">
                    <strong>@Model.Rate.ToString("c")</strong>
                </span>
            </div>
        </div>

    </div>


</div>
