@model EcommerceSite.Data.ViewModel.ProductCategoryViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";

}
<h2>Edit</h2>
<h4>Product</h4>

<div class="form">
    <form asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Edit Product</h3>
        <div class="form-group">
            @Html.HiddenFor(model => model.Product.ProductId)
        </div>
        <div class="form-group">
            <label asp-for="Product.ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Product.ProductName" class="form-control" placeholder="Enter product name" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Category.CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Product.CategoryId,
                                       new SelectList(Model.Categories.Select(x => new { Value = x.CategoryId, Text = x.CategoryName }), "Value", "Text"), "Select Category",
                                       htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Product.Category.CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Rate" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Product.Rate" class="form-control" min="0.0001" placeholder="Enter product rate" />
                <span asp-validation-for="Product.Rate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <textarea asp-for="Product.ShortDescription" class="form-control" placeholder="Enter short description"></textarea>
                <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.LongDescription" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <textarea asp-for="Product.LongDescription" class="form-control" placeholder="Enter long Description"></textarea>
                <span asp-validation-for="Product.LongDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Image" class="col-md-2 control-label"></label>
           
            <div class="col-md-3">
                <div style="padding:10px;">
                    <img src="@Url.Content(Model.Product.Image)" alt="Image" style="height:70px;width:150px;" />
                </div>
                @Html.HiddenFor(m=>m.Product.Image)
                <input type="file" asp-for="Product.Image" Class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Product.Discount" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Product.Discount" class="form-control" min="0.000" placeholder="Enter discount amount" />
                <span asp-validation-for="Product.Discount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <button class="btn btn-default" type="submit">@Html.ActionLink("Return", "Index")</button>
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
